@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Michroma&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}



body {
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    font-family: 'Space Mono';
    overflow-x: hidden;
}


/* 
install extension

go to open ai and get your own api key 


*/
