#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
font-family: 'Space Mono';
animation: fadeInUp 1s ease-out forwards;
}


#home-video-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono'
}

#home-video-title {
    display: flex;
     gap: .35rem;
    align-items: center;
    justify-content: center;
    color: #1893D4;  
    font-family: 'Space Mono';
    margin-top: 10rem;
    margin-bottom: .25rem;
}

#home-video-titles:hover {
  transform: translateY(-.25rem);
}

#home-video-titles {
    border: 1px solid #1893D4;
    box-shadow: 0 0 10px #1893D4;
     background-color: black;
    border-radius: 1rem;
    font-size: .9rem;
    color: white;
     font-family: 'Space Mono';
     width: 7.25rem;
     cursor: pointer;
}

#home-left-arrow {
    display: flex;
 width: 2.5rem;
    height: 2.25rem;
background-color: black;
border: 1px solid #1893D4;
box-shadow: 0 0 10px #1893D4;
margin-top: .1rem;
}

#home-left-arrow:hover {
  scale: 1.1;
  cursor: pointer;
}

#home-right-arrow:hover {
  scale: 1.1;
    cursor: pointer;
}

#home-left-arrow-button {
 width: 2.5rem;
  height: 2.25rem;
padding: 0;
background-color: black;
border: none;
}

#home-right-arrow-button {
 width: 2.5rem;
    height: 2.25rem;
    padding: 0;
background-color: black;
border: none;
box-shadow: 0 0 10px #1893D4;
}

#home-right-arrow {
    display:flex;
  width: 2.5rem;
    height: 2.25rem;
padding: 0;
background-color: black;
border: 1px solid #1893D4;
}

#home-demo {
    width: 51rem;
    border: 1px solid #1893D4;
    box-shadow: 0 0 10px #1893D4;
}

#home-benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    margin-top: 7rem;
    width: 51rem;
    gap: 4rem;
} 

#home-benefits p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #082241, rgb(0, 0, 0)); 
    padding: 1.5rem;
    border: 1px solid #1893D4;
    border-radius: 2rem;
    box-shadow: 0 0 10px #1893D4;
    font-family: 'Space Mono';
   font-size: 1rem;
   height: 12rem;
}

#home-benefits p:hover {
  transform: translateY(-.25rem);
  scale: 1.1;
}

#home-install-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

#home-install {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
     font-size: 1.65rem;
     color:#14ECFC;

}

#home-install button {
   background: radial-gradient(circle, #082241, rgb(0, 0, 0)); 
    border: 1px solid #1791D2;
    border-radius: 3rem;
    padding: .75rem 1.5rem;
    margin-top: 2rem;
    animation: shrinkGrow 1.25s infinite alternate;
}

#home-install a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1791D2;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Space Mono'
}

 /* #home-install button:hover {
  transform: translateY(-.25rem);
  cursor: pointer;
 } */

 @keyframes shrinkGrow {
  0% {
    scale:.75;
    box-shadow: 0 0 5px #1893D4;
  }
  100% {
    scale: 1.25;
    box-shadow: 0 0 15px #1893D4;
  }
 }

  @media screen and (max-width: 990px) {
#home-video-title {
     gap: .4vw;
}

#home-video-titles {
    font-size: 1.4vw;
     width: 11.51vw;
}

#home-left-arrow {
 width: 4vw;
    height: 3.5vw;
    margin-top: 0;
}

#home-left-arrow-button {
 width: 4vw;
    height: 3.5vw;
}

#home-right-arrow-button {
 width: 4vw;
    height: 3.5vw;
}

#home-right-arrow {
  width: 4vw;
    height: 3.5vw;
}

#home-demo {
    width: 80vw;
}

#home-benefits {
  margin-top: 12vw;
    width: 80vw;
    gap: 8vw;
} 

#home-benefits p {
   font-size: 1.75vw;
   height: 20vw;
}

#home-install-box {
margin-top: 14vw;
}

#home-install {
    height: 5vw;
     font-size: 2.6vw;
}

#home-install button {
  padding: 1.1vw 2.2vw;
    margin-top: 3.25vw;
}

#home-install a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1791D2;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Space Mono'
}
  }