#playground-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    color: white;
}

#playground-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 70vh;
    width: 40vw;
}