#support-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Space Mono';
}

#support-title {
    text-shadow: 0px 0px 10px #05EDF5; 
   color: #14ECFC;
   font-size: 3vw;
    background-color: transparent;
    margin-top: 18vh;
}

#support-chatroom {
    border: 1px solid #1893D4;
    margin-top: 1vh;
    border-top-left-radius: 1vw; 
    border-top-right-radius: 1vw;
    height: 60vh;
    width: 45vw;
    background: radial-gradient(circle, #012c5c, black);
    overflow-y: auto; 
    box-shadow: 0 0 10px #1893D4;
    font-family: 'Space Mono';
}

#support-text {
    height: 10vh;
    width: 45vw;
    border-bottom-left-radius: 1vw; 
    border-bottom-right-radius: 1vw;
    resize: none;
    padding-left: 1vw;
    padding-top: .25vw;
    color: #1893D4;
    background-color: black;
    box-shadow: 0 0 10px #1893D4;
    border: 1px solid #1893D4;
font-family: 'Space Mono';
}

#support-user  {
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
    font-family: 'Space Mono';
}

#support-image {
width: 3vw;
height: 3vw;
}

#support-talk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
}

#support-user-message {
            width: 18vw;
            word-wrap: break-word;
            border: 1px solid white;
            background-color: transparent;
            border-radius: 10px;
            padding: 1vh;
            color: #1893D4;
}

/* #support-user-messages {
    display: flex;
    padding-left: 1vh;
    padding-top: 2vh;
}

#support-user-box {
            width: 15vw;
            word-wrap: break-word;
            border: 1px solid white;
            background-color: black;
            border-radius: 10px;
            padding: 1vh;
} */


#support-response {
     display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 1vw;
    padding-top: 1vh;
}

#support-response h3 {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 5px
}

#support-text::placeholder {
     color: #1893D4;
     font-family: 'Space Mono';
}

@media screen and (max-width: 449px) {
    
    #support-title {
    background-color: transparent;
    font-size: 2.5vh;
    margin-top: 14vh;
    font-family: 'Space Mono';
}
#support-chatroom {
    height: 60vh;
    width: 75vw;
}

#support-text {
    height: 12vh;
    width: 75vw;
    resize: none;
    padding-left: 2vw;
    padding-top: .8vh;
}
}

/*@media screen and (min-width: 450px) and (max-width: 1199px) {
    #support-title {
    background-color: transparent;
    font-size: 2vw;
    margin-top: 16vh;
    font-family: 'Space Mono';
}
#support-chatroom {
    height: 60vh;
    width: 50vw;
}

#support-text {
    height: 12vh;
    width: 50vw;
    resize: none;
    padding-left: 2vw;
    padding-top: .8vh;
}
}

@media screen and (min-width: 1200px) and (max-width: 1999px) {
       #support-title {
    background-color: transparent;
    font-size: 2vw;
    margin-top: 16vh;
    font-family: 'Space Mono';
}
#support-chatroom {
    height: 60vh;
    width: 50vw;
}

#support-text {
    height: 12vh;
    width: 50vw;
    resize: none;
    padding-left: 2vw;
    padding-top: .8vh;
}
}

@media screen and (min-width: 2000px) {
       #support-title {
    background-color: transparent;
    font-size: 2vw;
    margin-top: 16vh;
    font-family: 'Space Mono';
}
#support-chatroom {
    height: 60vh;
    width: 50vw;
}

#support-text {
    height: 12vh;
    width: 50vw;
    resize: none;
    padding-left: 2vw;
    padding-top: .8vh;
}
} */